.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937; /* gris oscuro */
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links .nav-link {
  margin-left: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links .nav-link:hover {
  color: #facc15; /* amarillo */
}

.nav-links .active {
  color: #facc15;
}
